#!/bin/bash

if [[ $HOSTNAME == ch* ]] ## Set these when on Cheyenne
then

    # ---------------------------------------------------------------------
    # My spaces

    echo "Running on Cheyenne: $HOSTNAME $TERM"

    export myhome='/glade/u/home/'$USER
    export mywork='/glade/work/'$USER
    #export mywork='/glade/p/ral/hap/'$USER
    #export myscratch='/glade/scratch/'$USER
    #export myscratch='/glade/p/ral/hap/'$USER
    export myscratch='/glade/derecho/scratch/'$USER

    export scheduler='pbs'
    export submitjob='qsub'
    conda activate py38

elif [[ $HOSTNAME == casper* || $HOSTNAME == crhtc* ]] ## Set these when on Casper
then

    # ---------------------------------------------------------------------
    # My spaces

    echo "Running on Casper: $HOSTNAME $TERM"

    export myhome="/glade/u/home/${USER}"
    export mywork="/glade/work/${USER}"
    #export myscratch='/glade/scratch/'$USER
    #export mywork='/glade/p/ral/hap/'$USER
    #export myscratch='/glade/p/ral/hap/'$USER
    export myscratch="/glade/derecho/scratch/${$USER}"

    export scheduler='pbs'
    export submitjob='qsub'

    # >>> conda initialize >>>
    # !! Contents within this block are managed by 'conda init' !!
    # __conda_setup="$('/glade/work/frediani/casper/anaconda3/bin/conda' 'shell.bash' 'hook' 2> /dev/null)"
    # if [ $? -eq 0 ]; then
    # 	eval "$__conda_setup"
    # else
    # 	if [ -f "/glade/work/frediani/casper/anaconda3/etc/profile.d/conda.sh" ]; then
    #         . "/glade/work/frediani/casper/anaconda3/etc/profile.d/conda.sh"
    # 	else
    #         export PATH="/glade/work/frediani/casper/anaconda3/bin:$PATH"
    # 	fi
    # fi
    # unset __conda_setup
    # # <<< conda initialize <<<

    # conda activate py311


elif [[ $HOSTNAME == borah* || $HOSTNAME == cpu* ]] ## Set these when on Borah
then
    # ---------------------------------------------------------------------
    # My spaces

    echo "Running on Borah: $HOSTNAME $TERM"

    export myhome='/ipchome/'$USER
    export mywork=${myhome}
    export myscratch='/ipcscratch/'$USER
    export scheduler='slurm'
    export submitjob='sbatch'

    conda activate forge38
    module load imagemagick

else 
    echo "HPC not configured for $HOSTNAME: must be on Cheyenne, Casper, or Borah!"
    exit 0

fi

