#!/bin/bash

source ./hpc.config

echo ' ----------------------------------------------------------'
echo "path.config:"
echo "region: ${region:?Invalid region. Provide -r}"
echo "and IBC: ${ibc:?Invalid IBC. Provide -i}"

export datapath="/glade/work/meghan/Lemhi/WRF/data" #"${myscratch}/WxMod/${region}"
export figpath="/glade/work/meghan/Lemhi/WRF/plots" #"${mywork}/Projects/${region}/plots"

# ---------------------------------------------------------------

if [[ ${ibc} == hrrr ]]
then # hrrr is a single domain
    export geogfn="data/geo_em.d01.nc.${region}-${ibc}"
else
    export geogfn="data/geo_em.d02.nc.${region}"
    if [[ ! -f ${geogfn} ]]
    then
	export geogfn="data/geo_em.d02.nc.${region}-${ibc}"
    fi
fi

if [[ ! -f ${geogfn} ]]
then
    echo "Cannot find geogrid file: ${geofn}"
    exit 1
fi

# ---------------------------------------------------------------

if [[ ${region} == etaylor ]]
then 
    export shpfn="['${myhome}/Research/Projects/WxMod/scripts/postproc/geodata/east_taylor_huc10']"

elif [[ ${region} == snake ]]
then 
    export shpfn="['${myhome}/Research/Projects/WxMod/scripts/postproc/geodata/snake','${myhome}/Research/Projects/WxMod/scripts/postproc/geodata/bear']"

elif [[ ${region} == lemhi ]]
then 
    export shpfn="['${myhome}/Research/Projects/WxMod/scripts/postproc/geodata/lemhi']"
fi


# ---------------------------------------------------------------

echo "Variables set by path.config"
echo "datapath: ${datapath}"
echo "figpath: ${figpath}"
echo "geogfn: ${geogfn}"
echo "shpfn: ${shpfn}"
echo '---------------------------------------------------------------'
